/* .home{
    color: #e53935 red darken-1;
}

 #about{
    color: #e53935 red darken-1;
} */

/* .Button, .Dropdown, .NavItem {
    color: white;
    border-style: solid;
    border-color: #181616 #0000ff;
} */

#home, #about, #scheduledrop, #pricedrop, #contact, #signin, #signup {
    background-color: white;
    color:#000;
    border-style:solid;
    border-radius: 6px;
    border-color: #181616;
}
#nav-buttons {
    background-color: white;

}